@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
  --primary-color: #77957b;
  --primary-light-color: #9fb2a120;
  --secondary-color: #abb2a3;
  --secondary-highlight-color: #7a7e734b;
  --tertiary-color: #233025;
  --background-color: transparent;
  --text-color: #333;
  --text-light-color: #ffffff;
  --border-color: #80867910;
  --box-shadow: 0 0.5em 1em #32332f1e;
}

/* Reset and base styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Times, serif;
  font-size: 0.9em;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Container styles */
.container {
  max-width: 21em;
  margin: 1em auto;
  padding: 2em;
  background-color: var(--primary-light-color);
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.2em var(--primary-light-color);
}

/* Form control styles */
.form-control,
.form-select {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.form-control:focus,
.form-select:focus {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
  box-shadow: 0 0 0 0.2em var(--box-shadow) !important;
}

/* Currency group styles */
.currency-group {
  display: flex;
  margin-bottom: 0.5em;
  max-width: 20em;
}

.currency-label {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  padding: 0.375em 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  border-right: none;
  border-radius: 0.25em 0 0 0.25em;
  min-width: 4em;
}

.currency-group select,
.currency-group input {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.currency-group select {
  border-left: none;
  border-right: none;
  width: 10em;
  border-radius: 0;
}

.currency-group input {
  border-radius: 0 0.25em 0.25em 0;
  flex-grow: 1;
}

.currency-group select:focus,
.currency-group input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--box-shadow);
}
/* Button group styles */
.btn-group {
  display: flex;
  justify-content: center;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.btn-group .btn:first-child {
  margin-right: 1.5em;
}

.btn-group > .btn {
  border-radius: 0.5em !important;
  padding: 0.25em 1em;
  transition: all 0.3s ease;
}

/* Button styles */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transform: translateY(2px);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-group > .btn-primary:active {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 0.2em var(--box-shadow);
}

.btn-secondary {
  background-color: transparent;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-group > .btn-secondary:hover {
  background-color: var(--secondary-highlight-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-group > .btn-secondary:active {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 0.2em var(--box-shadow);
}


/* Result input */
#result {
  background-color: transparent;
  color: var(--primary-color);
  cursor: not-allowed;
}

/* Dropdown arrow color */
select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%239fb2a1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 0.65em auto;
}

/* Placeholder text color */
::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}

/* Specific selectors for different input types */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}

/* For Internet Explorer */
:-ms-input-placeholder {
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}

/* For Microsoft Edge */
::-ms-input-placeholder {
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}

/* Icon styles */
.material-symbols-outlined {
  margin-right: 0.25em;
  vertical-align: middle;
}

/* Utility classes */
body .small-text,
body .small-text * {
  font-size: 0.8em !important;
}

/* Media queries */
@media (max-width: 576px) {
  .container {
    padding: 1em;
  }
  
  .row {
    flex-direction: column;
  }
  
  .col, .col-auto {
    width: 100%;
    margin-bottom: 0.5em;
  }
}